.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-pic {
    border-radius: 50%;
    max-width: 200px;
    margin: 20px;
}

.title {
    font-weight: bold;
}
